@use 'src/styles/vars';


.match_recruiter-info{
  text-align: center;
  color: vars.$greenColor;
  font-weight: bold;
}

.match_recruiter {
  width: 93%;
  height: 80vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0.5em auto;
  border-radius: 1em;
  max-width: 400px;
  max-height: 800px;
  padding: 0.7em 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  span {
    font-weight: bold;
    color: vars.$darkGreenColor;
  }

  .match_recruiter-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: vars.$darkGreenColor;

  }

  .match_recruiter-info{
    text-align: center;
    font-style: italic;
    color: vars.$greenColor;
  }

  .match_recruiter-location {
    margin-top: 1em;
  }

  .match_recruiter-EntrepriseName{
    margin-top: 1em;
  }

  .match_recruiter-EntrepriseName--name{
    text-transform: uppercase;
  }

  .match_recruiter-content {
    text-align: justify;
    margin-top: 1em;
    line-height: 1.3em;
  }

  .match_recruiter-list-filter {
    margin-top: 0.5em;

    .match_recruiter-list-filter-item {
      margin-top: 0.5em;
    }
  }

  .match_recruiter-techno-title {
    margin-top: 1em;
  }

  .match_recruiter-list-techno {
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;

    .match_recruiter-list-techno-item {
      font-size: 1.2em;
      border: solid 1px rgb(170, 167, 167);
      border-radius: 20px;
      padding: 0.5em 1em;
      background-color: rgb(231, 226, 226);
      min-width: 3em;
    }

  }

  .buttonMatch {
    width: 6em;
    font-size: 1.2em;
    margin: 0 auto;
    height: 2em;
    background-color: vars.$greenColor;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 vars.$darkGreenColor;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.8s;

    &:hover {
      box-shadow: inset 400px 50px 0 0 vars.$darkGreenColor;
    }

  }

  .buttonMatch-hidden {
    display: none;
  }

}


@media (min-width: 816px){
  .match_recruiter {
    margin: 1em auto;
  }
}
